.btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	min-width: 200px;
	min-height: 3em;
	padding: .7em .7em;

	border-radius: .3em;
	background-color: var(--primaryColor);

	font-size: 1.8em;
	text-transform: uppercase;
	color: var(--secondaryColor);
	
	&--secondary {
		background-color: var(--secondaryColor);

		color: var(--primaryColor);
	}
}