/* container */

.container {
    padding: 0 30px;
}

/* header */

.logo {
	margin-left: 23px;
}

/* intro */

.intro{
	text-shadow: none;
	&-slider {
		&__title {
			font-size: 6em;
		}
		
		&__btns {
			display: block;
		}
	}

	&__btn {
		display: block;
	}
}