//- footer
footer.footer
	.container
		.footer__inner
			.footer__title Мы хотели бы услышать все о вашем проекте. Свяжись с нами.
			.footer__social.social
				.social__item
					.footer__social-photo
						img.footer__social-img(src='https://placehold.it/24x24/80' alt='alas')

				.social__item
					.footer__social-photo
						img.footer__social-img(src='https://placehold.it/24x24/80' alt='alas')
				
				.social__item
					.footer__social-photo
						img.footer__social-img(src='https://placehold.it/24x24/80' alt='alas')

				.social__item
					.footer__social-photo
						img.footer__social-img(src='https://placehold.it/24x24/80' alt='alas')
			
			.footer__items
				.footer__item
					h3.footer__item-title КОНТАКТЫ
					a.footer__item-link(href='tel:+805555566') +80 555 55 66
					a.footer__item-link(href='mailto:digi@gmail.com' target='_blank') digi@gmail.com				
				.footer__item
					h3.footer__item-title КОНТАКТЫ
					a.footer__item-link(href='tel:+805555566') +80 555 55 66
					a.footer__item-link(href='mailto:digi@gmail.com' target='_blank') digi@gmail.com
				
				.footer__item
					h3.footer__item-title КОНТАКТЫ
					a.footer__item-link(href='tel:+805555566') +80 555 55 66
					a.footer__item-link(href='mailto:digi@gmail.com' target='_blank') digi@gmail.com

				.footer__item
					h3.footer__item-title КОНТАКТЫ
					a.footer__item-link(href='tel:+805555566') +80 555 55 66
					a.footer__item-link(href='mailto:digi@gmail.com' target='_blank') digi@gmail.com


	a.footer__btn(href="#intro") ВВЕРХ
		.footer__btn-photo
			img.footer__btn-img(src='images/icons/topScroll.svg', alt='alas')

	script(src='js/main.min.js')