//- footer
footer.footer
	.container
		.footer__inner
			.footer__title Мы хотели бы услышать все о вашем проекте. Свяжись с нами.
			.footer__social
				.footer__social-item
					.footer__social-photo
						img.footer__social-img(src='images/icons/socials/facebook.svg' alt='alas')

				.footer__social-item
					.footer__social-photo
						img.footer__social-img(src='images/icons/socials/facebook.svg' alt='alas')
				
				.footer__social-item
					.footer__social-photo
						img.footer__social-img(src='images/icons/socials/facebook.svg' alt='alas')

				.footer__social-item
					.footer__social-photo
						img.footer__social-img(src='images/icons/socials/facebook.svg' alt='alas')
			
			.footer__items
				.footer__item
					h3.footer__item-title КОНТАКТЫ
						a.footer__item-link(href='tel:+805555566') +80 555 55 66
						a.footer__item-link(href='mailto:digi@gmail.com' target='_blank') digi@gmail.com				
				.footer__item
					h3.footer__item-title КОНТАКТЫ
						a.footer__item-link(href='tel:+805555566') +80 555 55 66
						a.footer__item-link(href='mailto:digi@gmail.com' target='_blank') digi@gmail.com
				
				.footer__item
					h3.footer__item-title КОНТАКТЫ
						a.footer__item-link(href='tel:+805555566') +80 555 55 66
						a.footer__item-link(href='mailto:digi@gmail.com' target='_blank') digi@gmail.com

				.footer__item
					h3.footer__item-title КОНТАКТЫ
						a.footer__item-link(href='tel:+805555566') +80 555 55 66
						a.footer__item-link(href='mailto:digi@gmail.com' target='_blank') digi@gmail.com


	script(src='js/main.min.js')