header.header
	.container
		.header__inner
			.header__logo
				a.header__logo-link(href='#')
					img.header__logo-img(src='https://placehold.it/100x65/100')
			nav.menu.header__menu
				.menu__btn
				